<div class="stat-card" [ngClass]="'stat-card-' + data.type">
  <div class="stat-icon">
    <i class="material-symbols-rounded">{{ data.icon }}</i>
  </div>
  <div class="stat-content">
    <span class="stat-label">{{ data.label | translate }}</span>
    <h3 class="stat-value">
      <span *ngIf="data.prefix">{{ data.prefix }}</span>
      {{ formatValue() }}
      <span *ngIf="data.suffix">{{ data.suffix }}</span>
    </h3>
    <div class="stat-footer" *ngIf="data.change || data.period">
      <span class="stat-change" *ngIf="data.change" [ngClass]="data.changeType === 'increase' ? 'positive' : 'negative'">
        <i class="material-symbols-rounded">{{ data.changeType === 'increase' ? 'trending_up' : 'trending_down' }}</i>
        {{ data.change }}
      </span>
      <span class="stat-period" *ngIf="data.period">{{ data.period | translate }}</span>
    </div>
  </div>
</div>
