<div class="text-center">
  <h1>Welcome to <span class="text-warning">super ecommerce</span></h1>
</div>

<!-- 

<table>
  <thead>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
    <th>Isdeleted</th>
    <th>Username</th>
    <th> </th>

  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.username}}</td>
      <td>{{user.isDeleted}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
     

      <td><button (click)="editUser(user)">Edit</button></td>


    </tr>
  </tbody>
</table>

<table>
  <thead>
    <th>ID</th>
    <th>Email</th>
    <th>User</th>
    <th>Isdeleted</th>
  </thead>
  <tbody>
   
  </tbody>
</table>
 -->
