<ng-container *ngIf="!isLoading">

  <ng-container *ngIf="!isStoreView">
    <div style="min-height: 500px;">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-container *ngIf="isStoreView">
    <!-- Store sub-routes: checkout, order confirmation, product detail -->
    <ng-container *ngIf="currentUrlPath.includes('/checkout') || currentUrlPath.includes('/order-confirmation') || currentUrlPath.startsWith('/product/')">
      <router-outlet></router-outlet>
    </ng-container>
    <!-- Store main page -->
    <ng-container *ngIf="!currentUrlPath.includes('/checkout') && !currentUrlPath.includes('/order-confirmation') && !currentUrlPath.startsWith('/product/')">
      <app-store></app-store>
    </ng-container>
  </ng-container>

</ng-container>

