
<!-- <p-multiselect [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" scrollHeight="250px" display="chip" styleClass="w-full md:w-80">
    <ng-template let-group #group>
        <div class="flex items-center">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
            <span>{{ group.label }}</span>
        </div>
    </ng-template>
</p-multiselect> -->
  
  
  <!-- <ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
> -->
<!-- </ng-multiselect-dropdown> -->

<!-- <div style="height: 70vh">
  <pintura-editor
    #editorRef
    [options]="editorOptions"
    [src]="src"
    [imageCropAspectRatio]="cropAspectRatio"
    [locale]="locale"
    (load)="handleLoad($event)"
    (process)="handleProcess($event)"
  ></pintura-editor>
</div>

<p><img *ngIf="result" [src]="result" alt="" /></p> -->



<div>
     <app-button kind="splitButton" label="Add Product" [items]="items" icon="pi pi-plus-circle"></app-button>
     
    
    <div class="container">

  <div class="row row-cols-3"> 
    <div *ngFor="let a of fakeArray; let index = index" class="col">
      <div class="card">
    <div class="mainProductImage">
    <img src="./assets/images/defult-img-store.jpg" class="card-img-top" width="80" alt="..." (click)="showDialog('uploadImages')">
    </div>

  <div class="card-body ltr grid grid-cols-1 md:grid-cols-2 gap-4">
<p-inputgroup>
    <p-inputgroup-addon>
        &#64;
    </p-inputgroup-addon>
    <input pInputText  placeholder="Title" />
    </p-inputgroup>

    <p-inputgroup>
        <p-inputgroup-addon><i class="pi pi-money-bill"></i></p-inputgroup-addon>
        <p-inputnumber placeholder="Price" />
        <p-inputgroup-addon>.00</p-inputgroup-addon>
    </p-inputgroup>

    <p-inputgroup class="w-full md:!w-[30rem]">
    <p-inputgroup-addon>
        <span class="material-symbols-rounded">
            production_quantity_limits
        </span>
    </p-inputgroup-addon>
    
    <input type="text" pInputText placeholder="Price" />
    <p-inputgroup-addon>
      <span class="material-symbols-rounded">
            notification_important
      </span>
    </p-inputgroup-addon>
    <p-inputgroup-addon>
      <span class="material-symbols-rounded">
            all_inclusive
      </span>
    </p-inputgroup-addon>

    <p-inputgroup-addon class="btnPrice">
      <p-button severity="secondary" label="Search" />
    </p-inputgroup-addon>
</p-inputgroup>

     <p-inputgroup>
      <p-multiselect [attr.dir]="currentLang === 'ar' ||  currentLang === 'he'? 'rtl' : 'ltr'"
 id="categorySelect" class="form-select"
  [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" optionLabel="name" display="chip" />
        <p-inputgroup-addon class="buttonElement">

            <p-button severity="secondary" label="Search" (click)="showDialog('category')"/>
        </p-inputgroup-addon>
        
    </p-inputgroup>

    <p-inputgroup class="buttonGroup">
    <p-inputgroup-addon class="buttonElement">

            <p-button label="Product Settings" (click)="showDialog('productSetting')" icon="pi pi-sliders-h" severity="secondary" [iconPos]="currentLang === 'ar' ||  currentLang === 'he'? 'right' : 'left'"/>
        </p-inputgroup-addon>
        <p-inputgroup-addon class="buttonElement">

            <!-- <p-button severity="secondary" label="More" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/> -->
            <p-splitbutton severity="secondary" label="More" [model]="items" />

        </p-inputgroup-addon>
</p-inputgroup>
<!-- 
<div class="input-group mb-3">
  <span class="input-group-text"><i class="material-symbols-rounded">payments</i></span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text"><i class="material-symbols-rounded">inventory_2</i></span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
  <span class="input-group-text">.00</span>
</div>

<div class="input-group">

<p-multiselect [attr.dir]="currentLang === 'ar' ||  currentLang === 'he'? 'rtl' : 'ltr'"
 id="categorySelect" class="form-select"
  [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" optionLabel="name" display="chip" />

  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">add category</button>
  
</div>

<div [attr.dir]="'ltr'"  class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="basic-addon2">
  <span dir="rtl" class="input-group-text" id="basic-addon2">&#64;example.com</span>
</div>

<div [attr.dir]="'ltr'" class="mb-3">
  <label for="basic-url" class="form-label">Your vanity URL</label>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
  </div>
  <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <span class="input-group-text">&#64;</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
</div>

<div class="input-group">
  <span class="input-group-text">With textarea</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div> -->

<div class="d-grid col-12">
  
</div>

  <p-button label="Submit" class="btnSave w-100"/>

  </div>
        </div>
    </div>
   
  </div>
</div>


</div>


<app-dialog *ngIf="visible" (visableData)="handleDataFromChild($event)" [visible]="getVisable()" [dialog]="dialog"></app-dialog>