/* ng-multiselect-dropdown{
    width: 68.6%;
} */

.form-select{
    --bs-form-select-bg-img:"";
    padding: 0;
    background-position:0%;
}

::ng-deep .p-multiselect-filter-container .p-inputtext{
    width: 100% !important;
}

::ng-deep .buttonGroup .buttonElement{
    min-width:50%; 
}

.addCategoryButton{ 
    white-space: nowrap;
    padding: 0 10px !important;
}



.buttonGroup .buttonElement ::ng-deep p-button button{
    background: none;
    border: none;
}

::ng-deep p-inputgroup input{
    width: 100%;
}

::ng-deep p-inputgroup .btnPrice{
    width: 139px;
}



::ng-deep .ql-picker-label{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}




/* .productPhotoMeta{
    background-color: #f2f5f7 !important;
    padding: 10px 11px 13px 10px;
} */
.mainProductImage{
    cursor: pointer;
}

::ng-deep .btnSave .p-button{
    width: 100%;
}