
<!-- <p-multiselect [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" scrollHeight="250px" display="chip" styleClass="w-full md:w-80">
    <ng-template let-group #group>
        <div class="flex items-center">
            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" />
            <span>{{ group.label }}</span>
        </div>
    </ng-template>
</p-multiselect> -->
  
  
  <!-- <ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
> -->
<!-- </ng-multiselect-dropdown> -->




<div>
    <!-- <app-button></app-button> -->
     <app-button kind="splitButton" label="Add Product" [items]="items" icon="pi pi-plus-circle"></app-button>
     
    
    <div class="container">

  <div class="row row-cols-3"> 
    <div *ngFor="let a of fakeArray; let index = index" class="col">
      <div class="card">
    <img src="./assets/images/defult-img-store.jpg" class="card-img-top" width="80" alt="...">

  <div class="card-body ltr grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a> -->
    <!-- <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">&#64;</span>
  <input dir="rtl" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div> -->

<p-inputgroup>
    <p-inputgroup-addon>
        &#64;
    </p-inputgroup-addon>
    <input pInputText  placeholder="Title" />
    </p-inputgroup>

    <p-inputgroup>
        <p-inputgroup-addon><i class="pi pi-money-bill"></i></p-inputgroup-addon>
        <p-inputnumber placeholder="Price" />
        <p-inputgroup-addon>.00</p-inputgroup-addon>
    </p-inputgroup>

    <p-inputgroup class="w-full md:!w-[30rem]">
    <p-inputgroup-addon>
        <span class="material-symbols-rounded">
            production_quantity_limits
        </span>
    </p-inputgroup-addon>
    
    <input type="text" pInputText placeholder="Price" />
    <p-inputgroup-addon>
      <span class="material-symbols-rounded">
            notification_important
      </span>
    </p-inputgroup-addon>
    <p-inputgroup-addon>
      <span class="material-symbols-rounded">
            all_inclusive
      </span>
    </p-inputgroup-addon>

    <p-inputgroup-addon class="btnPrice">
      <p-button severity="secondary" label="Search" />
    </p-inputgroup-addon>
</p-inputgroup>

     <p-inputgroup>
      <p-multiselect [attr.dir]="currentLang === 'ar' ||  currentLang === 'he'? 'rtl' : 'ltr'"
 id="categorySelect" class="form-select"
  [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" optionLabel="name" display="chip" />
        <p-inputgroup-addon class="buttonElement">

            <p-button severity="secondary" label="Search" (click)="showCategoryDialog()"/>
        </p-inputgroup-addon>
        
    </p-inputgroup>

    <p-inputgroup class="buttonGroup">
    <p-inputgroup-addon class="buttonElement">

            <p-button label="Product Settings" (click)="showProductSettingDialog()" icon="pi pi-sliders-h" severity="secondary" [iconPos]="currentLang === 'ar' ||  currentLang === 'he'? 'right' : 'left'"/>
        </p-inputgroup-addon>
        <p-inputgroup-addon class="buttonElement">

            <!-- <p-button severity="secondary" label="More" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/> -->
            <p-splitbutton severity="secondary" label="More" [model]="items" />

        </p-inputgroup-addon>
</p-inputgroup>
<!-- 
<div class="input-group mb-3">
  <span class="input-group-text"><i class="material-symbols-rounded">payments</i></span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group mb-3">
  <span class="input-group-text"><i class="material-symbols-rounded">inventory_2</i></span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
  <span class="input-group-text">.00</span>
</div>

<div class="input-group">

<p-multiselect [attr.dir]="currentLang === 'ar' ||  currentLang === 'he'? 'rtl' : 'ltr'"
 id="categorySelect" class="form-select"
  [options]="cities" [(ngModel)]="selectedCities" placeholder="Select Cities" optionLabel="name" display="chip" />

  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">add category</button>
  
</div>

<div [attr.dir]="'ltr'"  class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="basic-addon2">
  <span dir="rtl" class="input-group-text" id="basic-addon2">&#64;example.com</span>
</div>

<div [attr.dir]="'ltr'" class="mb-3">
  <label for="basic-url" class="form-label">Your vanity URL</label>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
  </div>
  <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <span class="input-group-text">&#64;</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
</div>

<div class="input-group">
  <span class="input-group-text">With textarea</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div> -->

<div class="d-grid gap-2 col-12 mx-auto">
  <button class="btn btn-primary" type="button">Button</button>
</div>

  </div>
        </div>
    </div>
   
  </div>
</div>


</div>




<p-dialog [(visible)]="categoryVisible" [modal]="true" position="top" [style]="{ width: '60rem' }">
    <ng-template  #header>
        <div class="inline-flex items-center justify-center gap-2">
            <span class="font-bold whitespace-nowrap">اضافة تصنيف جديد</span>
        </div>
    </ng-template>
    <!-- <span class="text-surface-500 dark:text-surface-400 block mb-4">Update your information.</span> -->
    <div class="flex flex-column items-center mb-4">
        <label for="username" class="font-semibold w-24">اسم التصنيف</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex flex-column items-center mb-2">
        <form class="flex items-center gap-1" [formGroup]="formGroup">
          <p-checkbox formControlName="city" inputId="ny" [binary]="true" [(ngModel)]="isChecked"/>
          <label for="ny" class="ml-2">اضافة الى تصنيف رئيسي</label>
        </form>
    </div>

    <div *ngIf="isChecked" class="flex flex-column items-center mb-4">
        <p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" placeholder="Select a country" class="w-full md:w-56">
    <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2" *ngIf="selectedOption">
            <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + selectedOption.code.toLowerCase()"
                style="width: 18px"
            />
            <div>{{ selectedOption.name }}</div>
        </div>
    </ng-template>
    <ng-template let-country #item>
        <div class="flex items-center gap-2">
            <img
                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + country.code.toLowerCase()"
                style="width: 18px"
            />
            <div>{{ country.name }}</div>
        </div>
    </ng-template>
    <ng-template #dropdownicon>
        <i class="pi pi-map"></i>
    </ng-template>
    
</p-select>
    </div>
    <ng-template #footer>
        <p-button label="اضافة تصنيف" [outlined]="true" severity="secondary" (click)="categoryVisible = false" />
        <p-button label="ألغاء" [text]="true" severity="secondary" (click)="categoryVisible = false" />
        
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="ProductSettingVisible" [modal]="true" position="top" [style]="{ width: '60rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <span class="font-bold whitespace-nowrap">Amy Elsner</span>
        </div>
    </ng-template>
    <p-tabs value="0" scrollable>
        <p-tablist>
            <ng-template #previcon>
                <i class="pi pi-minus"></i>
            </ng-template>
            <p-tab value="0" class="flex items-center !gap-2">
                <span class="material-symbols-rounded">
                    description
                </span>
                <span class="font-bold whitespace-nowrap">بيانات المنتج</span>
            </p-tab>
            <p-tab value="1" class="flex items-center !gap-2">
                <span class="material-symbols-rounded">
                    post_add
                </span>
                <span class="font-bold whitespace-nowrap">الحقول المخصصة</span>
            </p-tab>
            <p-tab value="2" class="flex items-center !gap-2">
                <span class="material-symbols-rounded">
                    format_list_bulleted
                </span>
                
                <span class="font-bold whitespace-nowrap">نموذج الطلب</span>
            </p-tab>
            <ng-template #nexticon>
                <i class="pi pi-plus"></i>
            </ng-template>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.
                </p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                    modi.
                </p>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus.
                </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

        
    <ng-template #footer>
        <p-button label="حفظ بيانات المنتج" [outlined]="true" severity="secondary" (click)="ProductSettingVisible = false" />
        <p-button label="إلغاء" [text]="true" severity="secondary" (click)="ProductSettingVisible = false" />
    </ng-template>
</p-dialog>