/* ng-multiselect-dropdown{
    width: 68.6%;
} */

.form-select{
    --bs-form-select-bg-img:"";
    padding: 0;
    background-position:0%;
}

::ng-deep .p-multiselect-filter-container .p-inputtext{
    width: 100% !important;
}

.buttonGroup .buttonElement{
    min-width:50%; 
}

.buttonGroup .buttonElement ::ng-deep p-button button{
    background: none;
    border: none;
}

::ng-deep p-inputgroup input{
    width: 100%;
}

::ng-deep p-inputgroup .btnPrice{
    width: 139px;
}

::ng-deep .p-dialog-content{
    overflow-y: visible !important;
}

.headerColor{
    background-color: red;
}

::ng-deep .p-dialog-footer{
    justify-content: space-between !important;
}



::ng-deep .p-tablist-tab-list{
    justify-content: space-around;
    border: 1px black;
}

::ng-deep p-tablist{
    border: 1px black solid;
}

::ng-deep .ql-picker-label{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}

.KindWeightStyle{
    width: 90%;
}