<div class="container-fluid fluid">
    <div class="container">
        <div class="right-side">
            <h1>سلة.. تجارة ذكيَّة وسهلة</h1>
            <p class="text-end">أنشئ متجرك الإلكتروني في دقائق، واربط منتجاتك بمجموعة متكاملة من الحلول الرقميَّة الذكيَّة للمدفوعات، والشحن، وإدارة المخزون، والتسويق، بكل سهولة؛ لأن نجاحك لا يحتاج إلى تعقيد.</p>
        </div>
        <div>
            <img src="./assets/images/random-products.png" class="me-3" height="700" alt="products-image">
        </div>

</div>
</div>
