.footer-nav{

    margin: 10px;
    height: 700px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 10px;
}
/* izhaka@mdb.co.il */
img{
    margin: 10px;
}