.dashboard {
  /* display: grid;
  grid-template-columns:  16.66% auto;
  height: 100vh; */
  display: grid;
  grid-template-columns:  9.66% 90%;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  /* Add more styles as needed */
}

.main-content {
  flex: 1;
  
  /* Add more styles as needed */
}



.container { margin: 30px; }
/* @media only screen and (max-width: 767px) { .container { max-width: 100%; } }
@media only screen and (min-width: 768px) { .container { max-width: 740px; } }
@media only screen and (min-width: 992px) { .container { max-width: 980px; } }
@media only screen and (min-width: 1200px) { .container { max-width: 1140px; } }
@media only screen and (min-width: 1400px) { .container { max-width: 1320px; } } */


