<div class="d-flex justify-content-center" *ngIf="token&&email">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="text-center mb-4">
                    <h1 class="mb-3 font-weight-normal">
                        Change your password
                    </h1>

                    <div class="form-floating mb-3">
                        <input type="email" placeholder="Email" formControlName="email" class="form-control">
                        <label for="email">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" placeholder="New Password" formControlName="newPassword" class="form-control"
                        [class.is-invalid]="submitted &&resetPasswordForm.get('newPassword')?.errors">
                        <label for="newPassword">Password</label>
                        <!-- <mat-error *ngIf="password.touched&&password.hasError('required')">Password is required</mat-error> -->
                        <span class="text-danger" *ngIf=" submitted && resetPasswordForm.get('newPassword')?.hasError('required')">
                            Password is required
                        </span>
                        <span class="text-danger" *ngIf=" submitted && resetPasswordForm.get('newPassword')?.hasError('minLength')||resetPasswordForm.get('newPassword')?.hasError('maxLength')">
                            password must be at least 6 ,and maximum 15 characters
                        </span>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="password" placeholder="New Password Confirm" formControlName="newPasswordConfirm" class="form-control"
                        [class.is-invalid]="submitted &&resetPasswordForm.get('newPasswordConfirm')?.errors">
                        <label for="newPasswordConfirm">Password Confirm</label>
                        <span class="text-danger" *ngIf=" submitted && resetPasswordForm.get('newPasswordConfirm')?.hasError('required')">
                            Password Confirm is required
                        </span>
                        <span class="text-danger" *ngIf=" submitted && resetPasswordForm.get('newPasswordConfirm')?.hasError('minlength')||resetPasswordForm.get('newPasswordConfirm')?.hasError('maxlength')">
                            password must be at least 6 ,and maximum 15 characters
                        </span>
                    </div>
                </div>
               <div class="form-floating" *ngIf="errorMessages.length>0">
                <app-validation-messages [errorMessages]="errorMessages">

                </app-validation-messages>
            </div>
               
                <div class="row">
                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-success" type="submit" >
                                Change Password
                            </button>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="d-grid">
                            <button class="btn btn-block btn-danger" type="submit" (click)="cancel()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>