<div class="form-section" [formGroup]="productForm">
  <h3>{{ 'PRODUCTS.NOTIFICATIONS' | translate }}</h3>
  
  <div class="form-group">
    <label for="alertQuantity">{{ 'PRODUCTS.ALERT_WHEN_QUANTITY_REACHES' | translate }}</label>
    <input 
      type="number" 
      id="alertQuantity"
      formControlName="alertQuantity" 
      class="form-control" 
      placeholder="0"
      min="0"
    />
    <small class="form-text">{{ 'PRODUCTS.ALERT_QUANTITY_DESCRIPTION' | translate }}</small>
  </div>

  <div class="form-group">
    <label for="notifyPercentage">{{ 'PRODUCTS.NOTIFY_PERCENTAGE_DESCRIPTION' | translate }}</label>
    <input 
      type="number" 
      id="notifyPercentage"
      formControlName="notifyPercentage" 
      class="form-control" 
      placeholder="0"
      min="0"
      max="100"
    />
    <small class="form-text">{{ 'PRODUCTS.NOTIFY_PERCENTAGE_HELP' | translate }}</small>
  </div>

  <div class="form-group">
    <label for="customerPercentage">{{ 'PRODUCTS.CUSTOMER_PERCENTAGE_TO_NOTIFY' | translate }}</label>
    <input 
      type="number" 
      id="customerPercentage"
      formControlName="customerPercentage" 
      class="form-control" 
      placeholder="0"
      min="0"
      max="100"
    />
    <small class="form-text">{{ 'PRODUCTS.CUSTOMER_PERCENTAGE_HELP' | translate }}</small>
  </div>
</div>
