/* select in category dialog in disable */
::ng-deep .category .p-dialog-content{
    overflow-y: visible !important;
}


.viewImages>div{
    flex: 40% !important; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  margin: 10px;
}

.productPhotoMeta{
    background-color: #f2f5f7 !important;
    padding: 10px 11px 13px 10px;
}

.KindWeightStyle{
    width: 90%;
}

::ng-deep .p-dialog-footer{
    justify-content: space-between !important;
}
::ng-deep .p-dialog-header{
     background: red;
    border-radius: 10px 10px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 10px !important;
    margin-bottom: 1rem;
}


::ng-deep .p-tablist-tab-list{
    justify-content: space-around;
    border: 1px black;
}

::ng-deep p-tablist{
    border: 1px black solid;
}

::ng-deep .p-tablist-content{
    margin: -4px;
}

::ng-deep p-dialog{
    font-size: 13px;
}


::ng-deep p-dialog input,::ng-deep p-dialog button,::ng-deep p-dialog p-multiselect{
    font-size: 13px !important;
}


